
$header-color: #FFF;
$background-header-color: #E61052;
$content-color: #97866F;
$background-color: #FFF;
$dottet-border-color: #D9CBB6;
$min-width : 300px;
$header-height: 50px;

.gallery{
  background-color : $background-color;
  border-radius: 8px;
  min-width: $min-width;
  height: 200px;
  behavior: url(/pie/PIE.htc);
  
  & .gallery-heading{
    background-color : $background-header-color;
    height: $header-height;    
  }
  
  & .gallery-heading-left{
    border-top-left-radius: 8px;
  }
  
  & .gallery-heading-right{
    border-top-right-radius: 8px;
  }
    
  //& .inline{
  //  float: left;
  //  width: $min-width / 2;
  //}
}