// bower:scss
// endbower

//body:before {
  //content: "I'm at 'app/css/main.scss";
//}


body{
  background-color : $body-background-color;
  padding: $sidebar-padding;
}

.bold{
  font-weight: bold;
}

.test-task-links {
  // test bourbon working check
  @include linear-gradient(to top, red, orange);
}