// bower:scss
// endbower

body {
  background-color : $body-background-color;
  padding: $common-padding;
  
  .main-container {
    @include breakpoint($full-width-breakpoint) {
      width: $full-width-breakpoint;
      margin: 0 auto;
    } 
  }
  
}

.bold {
  font-weight: bold;
}
