.sidebar-right-aside {
  min-width: $sidebar-min-width;
  float: left;
  width: 100%;

  @include breakpoint($full-width-breakpoint) {
    width: $sidebar-min-width;
    margin-left: $sidebar-padding;
  }

  @include breakpoint($max-breakpoint $full-width-breakpoint) {
    width: $max-breakpoint - 2*$sidebar-padding;
  }
}

.sidebar {
  background-color : $background-color;
  margin-bottom: $sidebar-padding;
  @include border-radius-value($border-radius);
  
  .sidebar-heading {
    color: $header-color;
    size: 12pt;
    padding-left: 10px;
    padding-top: 20px;
    margin: 0px;
  }
  
  .sidebar-dotted {
    border: 1px dotted $dottet-border-color; 
    border-style: none none dotted; 
    color: $background-color; 
    background-color: $background-color;
  }
  
  .sidebar-content {
    padding: 0px 10px 10px 10px; 
    color: $content-color;
  
    a {
      color: $content-color;
      text-decoration: none;
    }

    img {
      height: 22px;
      vertical-align: middle;
    }
  
    span {
      padding-right: 10px;
    }
  }// .sidebar-content
      
  ul {
    list-style-image: url("/images/sprites/sprite_ul.png");
    margin: 0px;
  }
  
  li {
    margin-left: -20px;
    padding: 5px;
  }
}//.sidebar
