// Common variables
$border-radius: 8px !default;
$body-background-color: #EAE2D7 !default;
$block-background-color: #FFF !default;
$dottet-border-color: #D9CBB6 !default;
$common-margin: 10px !default;
$common-padding: 10px !default;
$min-width: 300px !default;

// Gallery variables
$gallegy-header-color: #FFF !default;
$gallegy-background-header-color: #E61052 !default;
$gallery-container-height: 250px !default;
$gallery-heading-height: 50px !default;
$gallery-img-margin: 10px !default;
$gallery-img-width: 98px !default;
$gallery-img-border-color: #EAE1D4;
$gallery-link-color: $gallegy-background-header-color !default;

// Sidebar variables
$sidebar-header-color: #E61052 !default;
$sidebar-content-color: #97866F !default;
$sidebar-header-size: 12pt !default;
