$header-color: #E61052 !default;;
$content-color: #97866F !default;;
$background-color: #FFF !default;;
$dottet-border-color: #D9CBB6 !default;;
$body-background-color: #EAE2D7 !default;

$sidebar-padding: 10px;
$sidebar-min-width: 300px;

$border-radius: 8px;
